<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->


    <h1> Sus cuentas: </h1>
    <!--<h2>IBAN de la cuenta {{iban}}</h2>
    <h3> Balance {{balance}}</h3>-->

    <template is="dom-repeat" items={{accounts}}>
      <span> IBAN: {{item.iban}}</span>
      <span> Saldo: {{item.balance}}</span>
      <br/>
    </template>

    <iron-ajax auto
      id="getAccountByUserId"
      url="http://localhost:3000/apitechu/v1/account/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          /*userid: {
            type: Number
          }, iban: {
            type: Number
          }, balance: {
            type: Number
          }*/
          accounts: {
            type : Array
          }
        };
      }

      showData(data){
        console.log("Show data");
        console.log(data.detail.response);
        /*console.log(data.detail.response[0].iban);
        console.log(data.detail.response[0].balance);

        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;*/
        this.accounts = data.detail.response;

      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
